.facts {
	text-align: center;

	&__item {
		display: block;
		margin: 3rem 0;

		@mixin atMedium {
			display: inline-block;
			margin: 0 1.2rem;
		}

		@mixin atLarge {
			display: inline-block;
			margin: 0 2.8rem;
		}
	}

	&__detail {
		color: #fff;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
		font-weight: 500;

		&--large {
			font-size: 1.8rem;
			margin-bottom: 0;
		}

		&--small {
			font-size: 1.1rem;	
			font-weight: 300;
			margin-bottom: 1.6rem;

			@mixin atSmall {
				font-size: 1.2rem;	
			}
		}
	}
}