.presentation {
	position: relative;
	margin-top: 10rem;

	&__text {
		padding: 3rem 0 2rem 0;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		text-align: center;
		
		strong {
			font-weight: 700;
		}

		@mixin atMedium {
			padding: 0 1.625rem 0 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;
		}

		@mixin atLarge {
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;
		}

		&--content {
			font-weight: 300;
			font-size: 1.5rem;
			margin-bottom: 1rem;

			@mixin atMedium {
				font-size: 1.5rem;		
			}
		}

		&--name {
			font-weight: 400;
			font-size: 2rem;
			margin: 2.5rem 0 2.5rem 0;

			@mixin atMedium {
				font-size: 2.8rem;
			}
		}
	}

	&__image {
		display: none;

		@mixin atMedium {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2.5rem;
			border-radius: 90px;
			overflow: hidden;
			width: 180px;
			height: 180px;
			opacity: .9;
			border: 4px solid rgba($mainGray, .3);
		}
	}
}