.resume {
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

.resume-item {
	position: relative;

	&__company {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
		padding: .8rem 1.2rem;
		background-color: $mainDarkBlue;
		color: #fff;
		font-size: 1.1rem;
		text-shadow: 2px 2px 0 rgba(255, 255, 255, .1);
		font-weight: 500;

		@mixin atSmall {
			left: 0;
			transform: translateX(0);
			font-size: 1.2rem;
			padding: 1rem 1.5rem;
		}	
	}

	&__period {
		text-align: center;
		margin-top: 5rem;
		font-size: 1.1rem;
		text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, .1);
		font-weight: 500;

		@mixin atSmall {
			text-align: left;
			left: 11%;
			margin-top: 6.5rem;
			font-size: 1.2rem;
		}

		&--f-right {

			@mixin atSmall {
				left: 32%
			}
			@mixin atMedium {
				left: 39%;
			}

			@mixin atLarge {
				left: 32%;
			}
		}

		&--n-top-margin {
			margin-top: 2.5rem;
		}
	}

	&__function {
		font-size: 1.1rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		font-weight: 500;
		margin-top: 1.5rem;
		margin-bottom: .5rem;

		@mixin atSmall {
			margin-top: 1.5rem;
			margin-bottom: 1rem;
			font-size: 1.2rem;
		}
	}

	p {
		margin-bottom: 2rem;
	}

	&--r-margin {

		@mixin atMedium {
			padding-right: 48px;
		}

		@mixin atLarge {
			padding-right: 213px;
		}
	}

	&__skills {
		display: block;
		color: #fff;
		text-align: center;
		margin: 1rem auto 3rem auto;
		font-size: 1.1rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
		font-weight: 300;
		
		@mixin atSmall {
			font-size: 1.2rem;
		}

		&--n-bottom-margin {
			margin-bottom: 1rem;
		}
	}
}