.row {
	@mixin clearfix;

	@mixin atMedium {
		&--gutters {
		margin-right: -40px;
		}

		&--gutters > div {
			padding-right: 40px;
		}
	}

	@mixin atMedium {

		&__medium-4 {
			float: left;
			width: 33.33%;

			&--f-right {
				float: right;
			}
		}

		&__medium-6 {
			float: left;
			width: 50%;

			&--relative {
				position: relative;
			}

			&--f-right{
				float: right;
			}
		}

		&__medium-8 {
			float: left;
			width: 66.66%;

			&--f-right{
				float: right;
			}
		}
	}

	.flexbox &--equal-height-at-medium {

		@mixin atMedium {
			display: flex;
		}

		@mixin atMedium {
			& > div {
				float: none;
				display: flex;
			}
		}
	}
}