.section-title {
	font-size: 1.9rem;
	font-weight: 500;
	margin-bottom: 2rem;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	margin-top: 0;

	@mixin atSmall {
	 	font-size: 2.5rem;
		text-align: center;
		
		margin-top: 0;
	}

	&--t-margin {
		margin-top: 2.5rem;

		@mixin atMedium {
			margin-top: 1.5rem;			
		}

		&--small-until-medium {
			margin-top: 1rem;

			@mixin atMedium {
				margin-top: 6rem;
			}
		}
	}

	&--b-margin {
		margin-bottom: 1.5rem;

		@mixin atMedium {
			margin-bottom: 6rem;			
		}
	}

	&--white {
			color: #fff;
	}

	&--black {
		color: #000;
}

	&--blue {
			color: $mainDarkBlue;
	}

	&__subtitle {
		font-size: 1.5rem;
		font-weight: 500;
		text-align: center;
		margin-top: 2.3rem;
		margin-bottom: 2rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

		@mixin atSmall {
			font-size: 1.8rem;
		}

		@mixin atMedium {
			margin-bottom: 3rem;
			margin-top: 1.8rem;
		}

		&--n-at-small {
			display: none;

			@mixin atMedium {
				display: block;
			}
		}

		&--y-at-small {
			display: block;
			
			@mixin atMedium {
				display: none;
			}
		}
	}

	&__icon {
		display: inline-block;
		position: relative;
		top: 15px;
		transform: scale(.8);

		@mixin atSmall {
			transform: scale(1);
		}

	}
}