.skills {
	text-align: center;
	
	&__item {
		color: #fff;
		font-weight: 200;
		font-size: .9rem;
		margin: 1rem 1.5rem;
		display: inline-block;
		padding: .6em .8em;
		background-color: $mainDarkBlue;
		box-shadow: 3px 3px 7px 1px rgba(255, 255, 255, 0.2);

		@mixin atMedium {
			margin: 1.5rem 2rem;
		}
	}
}