		.icon {
			background-image: url('../../assets/images/sprites/sprite-af6fa015.svg');
		}

		.no-svg .icon {
			background-image: url('../../assets/images/sprites/sprite-af6fa015.png');
		}

	.icon--about_me_gray {
		width: 64px;
		height: 64px;
		background-position: 70.49180327868852% 64.18604651162791%;
	}

	.icon--brazil {
		width: 64px;
		height: 64px;
		background-position: 0 100%;
	}

	.icon--facebook {
		width: 90px;
		height: 90px;
		background-position: 44.80286738351254% 0;
	}

	.icon--github {
		width: 90px;
		height: 90px;
		background-position: 0 66.13756613756614%;
	}

	.icon--instagram {
		width: 90px;
		height: 90px;
		background-position: 32.25806451612903% 66.13756613756614%;
	}

	.icon--linkedin {
		width: 90px;
		height: 90px;
		background-position: 77.06093189964157% 0;
	}

	.icon--logo_T {
		width: 125px;
		height: 125px;
		background-position: 0 0;
	}

	.icon--mail {
		width: 64px;
		height: 48px;
		background-position: 70.49180327868852% 38.96103896103896%;
	}

	.icon--my_story_gray {
		width: 64px;
		height: 64px;
		background-position: 20.983606557377048% 100%;
	}

	.icon--project_management {
		width: 64px;
		height: 64px;
		background-position: 41.967213114754095% 100%;
	}

	.icon--software_eng {
		width: 64px;
		height: 64px;
		background-position: 62.950819672131146% 100%;
	}

	.icon--united-kingdom {
		width: 64px;
		height: 64px;
		background-position: 100% 0;
	}

	.icon--web_des {
		width: 60px;
		height: 60px;
		background-position: 98.70550161812298% 58.44748858447488%;
	}

	.icon--web_dev {
		width: 64px;
		height: 64px;
		background-position: 100% 29.767441860465116%;
	}
